<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Hero Squad App</title>
</head>
<body>
<h1>Welcome to Hero Squad App!</h1>

<h2>Heroes</h2>
<ul>
    {{#each heroes}}
        <li>
            <strong>Name:</strong> {{name}} <br>
            <strong>Age:</strong> {{age}} <br>
            <strong>Special Power:</strong> {{power}} <br>
            <strong>Weakness:</strong> {{weakness}}
        </li>
    {{/each}}
</ul>

<h2>Squads</h2>
<ul>
    {{#each squads}}
        <li>
            <strong>Name:</strong> {{name}} <br>
            <strong>Cause:</strong> {{cause}}
            <form class="assign-hero-form" data-squad-id="{{id}}">
                <label>
                    <select name="selectedHeroId">
                        {{#each heroes}}
                            <option value="{{id}}">{{name}}</option>
                        {{/each}}
                    </select>
                </label>
                <button type="submit">Assign Hero</button>
            </form>
        </li>
    {{/each}}
</ul>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
